.content {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;

  .header {
    background-color: #54d4eb;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .4rem;
    height: 7%;
  }

  .top {
    height: 70%;
    display: flex;
    margin-bottom: .4rem;

    h1 {
      margin-top: .5rem;
    }

    .hero_side_column {
      height: 100%;
      display: flex;
      flex-direction: column;
      width: 40%;
      .hero {
        height: 35%;
        background-color: #d7c9e3;
        display: flex;
        justify-content: center;
        margin-right: .3rem;
        margin-bottom: .3rem;

      }
      .sidebar {
        height: 65%;
        background-color: #9fc363;
        display: flex;
        justify-content: center;
        margin-right: .3rem;

      }
    }
    .content_column{
      height: 100%;
      width: 60%;
      display: flex;
      flex-direction: column;
      
      .main {
        height: 80%;
        background-color: #f5c632;
        display: flex;
        justify-content: center;
        margin-bottom: .3rem;

      }
      .extra {
        height: 20%;
        background-color: #898989;
        display: flex;
        justify-content: center;
      }
    }
  }

  .bottom {
    display: flex;
    margin-bottom: .4rem;
    height: 16%;
    h1 {
      margin-top: .5rem;
    }
    .images {
      width: 70%;
      display: flex;
      justify-content: center;
      background-color: #2bb673;
      margin-right: .3rem;

    }
    .posts {
      width: 30%;
      display: flex;
      justify-content: center;
      background-color: #f3ccde;

    }
  }

  .footer {
    height: 7%;
    background-color: #ffa500;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}